### convert txt file to csv with data cleaning 
- get rid of extra texts
- are the labels always the same??
- replace missing input to Nan
- normalize data types (string)

In [1]:
import pandas as pd

In [3]:
def tocsv(filepath):
    fopen = open(filepath,mode='r+')
    fread = fopen.readlines()
    x = '# rsid	chromosome	position	genotype'
    n = 0
    for line in fread:
        n += 1
        if x in line:
            break
    txt = pd.read_csv (filepath,'\s+', skiprows=n, names=['rsid','chromosome','position','genotype'])
    txt.to_csv('../genome_Thomas_Wood.csv',index=False)
    df = pd.read_csv('../genome_Thomas_Wood.csv', dtype={'rsid': str, 'chromosome': str,'position': str, 'genotype': str})
    return df.replace('--', 'NaN')

In [29]:
df = tocsv('../genome_Thomas_Wood.txt')

/Users/julyzhou/opt/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3242: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [30]:
df.shape

(601895, 4)

In [6]:
len(df['rsid'].unique())

601895

In [7]:
len(df['chromosome'].unique())

25

In [8]:
len(df['rsid'].unique())

601895

In [9]:
len(df['position'].unique())

597405

In [10]:
len(df['genotype'].unique())

20

In [11]:
df['genotype'].unique()

array(['AA', 'AG', 'CC', 'NaN', 'GG', 'TT', 'GT', 'CT', 'AC', 'CG', 'AT',
       'II', 'DD', 'DI', 'G', 'C', 'T', 'A', 'I', 'D'], dtype=object)

In [12]:
df[df['rsid'] == 'rs9939609']

             rsid chromosome  position genotype
485070  rs9939609         16  53820527       AT

In [13]:
df[df['rsid'] == 'rs6548238']

            rsid chromosome position genotype
46796  rs6548238          2   634905       CC

In [14]:
df[df['rsid'] == 'rs17782313']

              rsid chromosome  position genotype
524958  rs17782313         18  57851097       TT

In [15]:
df[df['rsid'] == 'rs10938397']

              rsid chromosome  position genotype
140654  rs10938397          4  45182527       AA

In [16]:
df[df['rsid'] == 'rs7498665']

Empty DataFrame
Columns: [rsid, chromosome, position, genotype]
Index: []

In [17]:
df[df['rsid'] == 'rs10838738']

              rsid chromosome  position genotype
370804  rs10838738         11  47663049       GG

In [18]:
df[df['rsid'] == 'rs11084753']

              rsid chromosome  position genotype
536902  rs11084753         19  34322137       AG

In [19]:
df[df['rsid'] == 'rs2815752']

            rsid chromosome  position genotype
15258  rs2815752          1  72812440       AG

In [20]:
def bmi(df):
    df = df[(df['rsid'] == 'rs9939609') | 
            (df['rsid'] =='rs6548238') |
            (df['rsid'] == 'rs17782313') |
            (df['rsid'] == 'rs10938397') | 
            (df['rsid'] == 'rs7498665') | 
            (df['rsid'] == 'rs10838738') | 
            (df['rsid'] == 'rs11084753') | 
            (df['rsid'] == 'rs2815752')]
    return df

### BMI: rs7498665 not in the genetic test result

In [21]:
df2 = bmi(df)
df2

              rsid chromosome  position genotype
15258    rs2815752          1  72812440       AG
46796    rs6548238          2    634905       CC
140654  rs10938397          4  45182527       AA
370804  rs10838738         11  47663049       GG
485070   rs9939609         16  53820527       AT
524958  rs17782313         18  57851097       TT
536902  rs11084753         19  34322137       AG

### type 2 diabetes: rs14607517 not in the genetic test result

In [22]:
def diabetes(df):
    df = df[(df['rsid'] == 'rs560887') | 
            (df['rsid'] =='rs10830963') |
            (df['rsid'] == 'rs14607517')|
            (df['rsid'] == 'rs2191349') | 
            (df['rsid'] == 'rs780094') | 
            (df['rsid'] == 'rs11708067') | 
            (df['rsid'] == 'rs7944584') | 
            (df['rsid'] == 'rs10885122')]
    return df

In [23]:
df3 = diabetes(df)
df3

              rsid chromosome   position genotype
52647     rs780094          2   27741237       CT
78491     rs560887          2  169763148       CC
117406  rs11708067          3  123065778       AG
244041   rs2191349          7   15064309       GT
353196  rs10885122         10  113042093       GG
370619   rs7944584         11   47336320       AA
378214  rs10830963         11   92708710       CG

In [24]:
df[df['rsid'] == 'rs14607517']

Empty DataFrame
Columns: [rsid, chromosome, position, genotype]
Index: []

### 17 rsid --> 13 rsid : 4 rsid not in the genetic test result

In [61]:
def diabetestotal(df):
    df = df[(df['rsid'] == 'rs560887') | 
            (df['rsid'] =='rs10830963') |
            (df['rsid'] == 'rs14607517')|
            (df['rsid'] == 'rs2191349') | 
            (df['rsid'] == 'rs780094') | 
            (df['rsid'] == 'rs11708067') | 
            (df['rsid'] == 'rs7944584') | 
            (df['rsid'] == 'rs10885122') | 
            (df['rsid'] == 'rs174550') |
            (df['rsid'] == 'rs11605924') |
            (df['rsid'] == 'rs11920090') |
            (df['rsid'] == 'rs7034200') |
            (df['rsid'] == 'rs340874') |
            (df['rsid'] == 'rs11071657') |
            (df['rsid'] == 'rs13266634') |
            (df['rsid'] == 'rs7903146') |
            (df['rsid'] == 'rs35767')]           
    return df

In [55]:
df4 = diabetestotal(df)
df4

              rsid chromosome   position genotype
38622     rs340874          1  214159256       TT
52647     rs780094          2   27741237       CT
78491     rs560887          2  169763148       CC
117406  rs11708067          3  123065778       AG
244041   rs2191349          7   15064309       GT
296738  rs13266634          8  118184783       CC
304963   rs7034200          9    4289050       AC
353196  rs10885122         10  113042093       GG
353549   rs7903146         10  114758349       CT
370407  rs11605924         11   45873091       AC
370619   rs7944584         11   47336320       AA
372277    rs174550         11   61571478       CT
378214  rs10830963         11   92708710       CG

In [56]:
df4.shape

(13, 4)

In [90]:
gendata = pd.read_csv('Genetic Data.csv')
gendata['effect'] = pd.to_numeric(gendata['effect'])
gendata.head()

  phenotype       rsid    gene genotype  effect
0       BMI  rs9939609     FTO       TT    0.00
1       BMI  rs9939609     FTO       AT    1.25
2       BMI  rs9939609     FTO       AA    2.50
3       BMI  rs6548238  TMEM18       TT    0.00
4       BMI  rs6548238  TMEM18       CT    1.19

In [91]:
gendata['effect'] = pd.to_numeric(gendata['effect'])

In [92]:
gendata

   phenotype       rsid    gene genotype  effect
0        BMI  rs9939609     FTO       TT    0.00
1        BMI  rs9939609     FTO       AT    1.25
2        BMI  rs9939609     FTO       AA    2.50
3        BMI  rs6548238  TMEM18       TT    0.00
4        BMI  rs6548238  TMEM18       CT    1.19
..       ...        ...     ...      ...     ...
70       T2D  rs7903147  TCF7L3       CT    1.40
71       T2D  rs7903148  TCF7L4       TT    2.80
72       T2D    rs35767    IGF1       AA    0.00
73       T2D    rs35768    IGF2       AG    1.04
74       T2D    rs35769    IGF3       GG    2.08

[75 rows x 5 columns]

### BMI

In [72]:
def bmi(df):
    df = df[(df['rsid'] == 'rs9939609') | 
            (df['rsid'] =='rs6548238') |
            (df['rsid'] == 'rs17782313') |
            (df['rsid'] == 'rs10938397') | 
            (df['rsid'] == 'rs7498665') | 
            (df['rsid'] == 'rs10838738') | 
            (df['rsid'] == 'rs11084753') | 
            (df['rsid'] == 'rs2815752')]
    return df

In [73]:
testfile = bmi(df)
testfile
testlist = []
for i in range(0, len(testfile.index)-1):
    rsid = testfile.iloc[i,0]
    genotype = testfile.iloc[i,3]
    i = (rsid, genotype)
    testlist.append(i)
testlist

[('rs2815752', 'AG'),
 ('rs6548238', 'CC'),
 ('rs10938397', 'AA'),
 ('rs10838738', 'GG'),
 ('rs9939609', 'AT'),
 ('rs17782313', 'TT')]

In [93]:
total = 0
for i in testlist:
    snp = gendata[(gendata['rsid'] == i[0]) & (gendata['genotype'] == i[1])]
    effect = snp.iloc[0,4]
    print (effect)
    total += effect
total

1.05
2.38
0.0
2.06
1.25
0.0

6.74

In [2]:
def bmistat(filepath):
    """
    1. Takes a text file as the only parameter and returns means and std of the phenotype BMI
    2. Search for data labels on the text file and read text file to csv file starting from the
    rows of labels present
    3. Replace missing data '--' with NaN and drop missing data
    4. Looking for all 8 snps (we have in our data bank) in the uploaded file
    5. Recreate a list of 8 pairs of snp information: rsid and corresponding genotype
    6. Obtain effect values for each snp and sum up to get a polygenic risk score
    7. Based on the polygenic risk score, return a mean and std of the bmi phenotype
    
    """
    fopen = open(filepath,mode='r+')
    fread = fopen.readlines()
    x = '# rsid	chromosome	position	genotype'
    n = 0
    for line in fread:
        n += 1
        if x in line:
            break
    txt = pd.read_csv (filepath,'\s+', skiprows=n, names=['rsid','chromosome','position','genotype'])
    txt.to_csv('../genome_Thomas_Wood.csv',index=False)
    df = pd.read_csv('../genome_Thomas_Wood.csv')
    #df = df.replace('--', pd.NaT)  # need to correct this on the data extract file
    #df = df.dropna
    testfile = df[(df['rsid'] == 'rs9939609') | 
            (df['rsid'] =='rs6548238') |
            (df['rsid'] == 'rs17782313') |
            (df['rsid'] == 'rs10938397') | 
            (df['rsid'] == 'rs7498665') | 
            (df['rsid'] == 'rs10838738') | 
            (df['rsid'] == 'rs11084753') |
            (df['rsid'] == 'rs2815752')]
    testlist = []
    for i in range(0, len(testfile.index)-1):
        rsid = testfile.iloc[i,0]
        genotype = testfile.iloc[i,3]
        i = (rsid, genotype)    # tuples of one rsid with genotype
        testlist.append(i)      # a list of tuples
    gendata = pd.read_csv('Genetic Data.csv')
    gendata['effect'] = pd.to_numeric(gendata['effect'])
    total = 0
    for i in testlist:
        snp = gendata[(gendata['rsid'] == i[0]) & (gendata['genotype'] == i[1])]
        effect = snp.iloc[0,4]
        total += effect
    if total < 4:
        return (25.4, 3.1)
    elif total == 4:
        return (25.7, 3.4)
    elif total == 5:
        return (25.9, 3.8)
    elif total == 6:
        return (26.2, 3.7)
    elif total == 7:
        return (26.2, 3.6)
    elif total == 8:
        return (26.3, 3.7)
    elif total == 9:
        return (26.5, 3.7)
    elif total == 10:
        return (26.6, 3.9)
    elif total == 11:
        return (26.8, 4.2)
    elif total == 12:
        return (27, 4)
    else:
        return (26.8, 3.8)

### bmistat method
#### Takes a text file as the only parameter and returns means and std of the phenotype BMI

1. search for data labels on the text file and read text file to csv file starting from the rows of labels present


2. replace missing data '--' with NaN and drop missing data


3. looking for all 8 snps (we have in our data bank) in the uploaded file


4. recreate a list of 8 pairs of snp information: rsid and corresponding genotype


5. obtain effect values for each snp and sum up to get a polygenic risk score


6. based on the polygenic risk score, return a mean and std of the bmi phenotype

In [5]:
bmistat('../genome_Thomas_Wood.txt')

(26.8, 3.8)

> write csv file

In [45]:
import csv

with open('newfile.csv', 'w', newline='') as csvfile:
    fieldnames = ['rsid', 'chromosome', 'position', 'genotype']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerow({'rsid': 'rs12564807','chromosome': '1','position': '734462','genotype': 'AA'})

In [47]:
df = pd.read_csv('newfile.csv')
df

         rsid  chromosome  position genotype
0  rs12564807           1    734462       AA