In [1]:
import pandas as pd

In [2]:
data = pd.read_csv ('../genocode/data/23andMe_data.txt','\s+', skiprows=20, names=['rsid','chromosome','position','genotype'])

/root/anaconda3/envs/python38/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data.to_csv('../genocode/data/23andMe_data.csv', index=False)

In [4]:
df = pd.DataFrame(data) 
df.head()

          rsid chromosome  position genotype
0   rs12564807          1    734462       AA
1    rs3131972          1    752721       AG
2  rs148828841          1    760998       CC
3   rs12124819          1    776546       AG
4  rs115093905          1    787173       --

In [5]:
def txt_to_csv(txt_file, csv_file):
    data = pd.read_csv(txt_file,'\s+', skiprows=20, names=['rsid','chromosome','position','genotype'])
    data = data.replace('--', 'NaN')
    data.to_csv(csv_file, index=False)
    df = pd.DataFrame(data) 
    return df

In [6]:
txt_to_csv('../genocode/data/23andMe_data.txt', '../genocode/data/23andMe_data.csv')

/root/anaconda3/envs/python38/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

               rsid chromosome  position genotype
0        rs12564807          1    734462       AA
1         rs3131972          1    752721       AG
2       rs148828841          1    760998       CC
3        rs12124819          1    776546       AG
4       rs115093905          1    787173      NaN
...             ...        ...       ...      ...
601890     i4000757         MT     16526        G
601891      i701671         MT     16526        G
601892     i4990307         MT     16527        C
601893     i4000756         MT     16540        C
601894     i3001931         MT     16547        C

[601895 rows x 4 columns]