### convert txt file to csv with data cleaning 
- get rid of extra texts
- are the labels always the same??
- replace missing input to Nan
- normalize data types (string)

In [67]:
import pandas as pd

In [88]:
def tocsv(filepath):
    fopen = open(filepath,mode='r+')
    fread = fopen.readlines()
    x = '# rsid	chromosome	position	genotype'
    n = 0
    for line in fread:
        n += 1
        if x in line:
            break
    txt = pd.read_csv (filepath,'\s+', skiprows=n, names=['rsid','chromosome','position','genotype'])
    txt.to_csv('../genome_Thomas_Wood.csv',index=False)
    df = pd.read_csv('../genome_Thomas_Wood.csv', dtype={'rsid': str, 'chromosome': str,'position': str, 'genotype': str})
    return df.replace('--', 'NaN')

In [89]:
df = tocsv('../genome_Thomas_Wood.txt')

In [84]:
df.shape

(601895, 4)

In [85]:
len(df['rsid'].unique())

601895

In [86]:
len(df['chromosome'].unique())

25

In [87]:
len(df['rsid'].unique())

601895

In [90]:
len(df['position'].unique())

597405

In [94]:
len(df['genotype'].unique())

20

In [96]:
df['genotype'].unique()

array(['AA', 'AG', 'CC', 'NaN', 'GG', 'TT', 'GT', 'CT', 'AC', 'CG', 'AT',
       'II', 'DD', 'DI', 'G', 'C', 'T', 'A', 'I', 'D'], dtype=object)

In [98]:
df[df['rsid'] == 'rs9939609']

             rsid chromosome  position genotype
485070  rs9939609         16  53820527       AT

In [99]:
df[df['rsid'] == 'rs6548238']

            rsid chromosome position genotype
46796  rs6548238          2   634905       CC

In [100]:
df[df['rsid'] == 'rs17782313']

              rsid chromosome  position genotype
524958  rs17782313         18  57851097       TT

In [102]:
df[df['rsid'] == 'rs10938397']

              rsid chromosome  position genotype
140654  rs10938397          4  45182527       AA

In [103]:
df[df['rsid'] == 'rs7498665']

Empty DataFrame
Columns: [rsid, chromosome, position, genotype]
Index: []

In [104]:
df[df['rsid'] == 'rs10838738']

              rsid chromosome  position genotype
370804  rs10838738         11  47663049       GG

In [105]:
df[df['rsid'] == 'rs11084753']

              rsid chromosome  position genotype
536902  rs11084753         19  34322137       AG

In [106]:
df[df['rsid'] == 'rs2815752']

            rsid chromosome  position genotype
15258  rs2815752          1  72812440       AG

> write csv file

In [45]:
import csv

with open('newfile.csv', 'w', newline='') as csvfile:
    fieldnames = ['rsid', 'chromosome', 'position', 'genotype']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerow({'rsid': 'rs12564807','chromosome': '1','position': '734462','genotype': 'AA'})

In [47]:
df = pd.read_csv('newfile.csv')
df

         rsid  chromosome  position genotype
0  rs12564807           1    734462       AA