### convert txt file to csv with data cleaning 
- get rid of extra texts
- are the labels always the same??
- replace missing input to Nan
- normalize data types (string)

In [1]:
import pandas as pd

In [2]:
def tocsv(filepath):
    fopen = open(filepath,mode='r+')
    fread = fopen.readlines()
    x = '# rsid	chromosome	position	genotype'
    n = 0
    for line in fread:
        n += 1
        if x in line:
            break
    txt = pd.read_csv (filepath,'\s+', skiprows=n, names=['rsid','chromosome','position','genotype'])
    txt.to_csv('../genome_Thomas_Wood.csv',index=False)
    df = pd.read_csv('../genome_Thomas_Wood.csv', dtype={'rsid': str, 'chromosome': str,'position': str, 'genotype': str})
    return df.replace('--', 'NaN')

In [24]:
df = tocsv('../genome_Thomas_Wood.txt')

In [6]:
df.shape

(601895, 4)

In [7]:
len(df['rsid'].unique())

601895

In [8]:
len(df['chromosome'].unique())

25

In [9]:
len(df['rsid'].unique())

601895

In [10]:
len(df['position'].unique())

597405

In [11]:
len(df['genotype'].unique())

20

In [12]:
df['genotype'].unique()

array(['AA', 'AG', 'CC', 'NaN', 'GG', 'TT', 'GT', 'CT', 'AC', 'CG', 'AT',
       'II', 'DD', 'DI', 'G', 'C', 'T', 'A', 'I', 'D'], dtype=object)

In [13]:
df[df['rsid'] == 'rs9939609']

             rsid chromosome  position genotype
485070  rs9939609         16  53820527       AT

In [14]:
df[df['rsid'] == 'rs6548238']

            rsid chromosome position genotype
46796  rs6548238          2   634905       CC

In [15]:
df[df['rsid'] == 'rs17782313']

              rsid chromosome  position genotype
524958  rs17782313         18  57851097       TT

In [16]:
df[df['rsid'] == 'rs10938397']

              rsid chromosome  position genotype
140654  rs10938397          4  45182527       AA

In [17]:
df[df['rsid'] == 'rs7498665']

Empty DataFrame
Columns: [rsid, chromosome, position, genotype]
Index: []

In [18]:
df[df['rsid'] == 'rs10838738']

              rsid chromosome  position genotype
370804  rs10838738         11  47663049       GG

In [19]:
df[df['rsid'] == 'rs11084753']

              rsid chromosome  position genotype
536902  rs11084753         19  34322137       AG

In [20]:
df[df['rsid'] == 'rs2815752']

            rsid chromosome  position genotype
15258  rs2815752          1  72812440       AG

In [47]:
def bmi(df):
    df = df[(df['rsid'] == 'rs9939609') | 
            (df['rsid'] =='rs6548238') |
            (df['rsid'] == 'rs17782313') |
            (df['rsid'] == 'rs10938397') | 
            (df['rsid'] == 'rs7498665') | 
            (df['rsid'] == 'rs10838738') | 
            (df['rsid'] == 'rs11084753') | 
            (df['rsid'] == 'rs2815752')]
    return df

### BMI: rs7498665 not in the genetic test result

In [57]:
df2 = bmi(df)
df2

              rsid chromosome  position genotype
15258    rs2815752          1  72812440       AG
46796    rs6548238          2    634905       CC
140654  rs10938397          4  45182527       AA
370804  rs10838738         11  47663049       GG
485070   rs9939609         16  53820527       AT
524958  rs17782313         18  57851097       TT
536902  rs11084753         19  34322137       AG

### type 2 diabetes: rs14607517 not in the genetic test result

In [58]:
def diabetes(df):
    df = df[(df['rsid'] == 'rs560887') | 
            (df['rsid'] =='rs10830963') |
            (df['rsid'] == 'rs14607517')|
            (df['rsid'] == 'rs2191349') | 
            (df['rsid'] == 'rs780094') | 
            (df['rsid'] == 'rs11708067') | 
            (df['rsid'] == 'rs7944584') | 
            (df['rsid'] == 'rs10885122')]
    return df

In [59]:
df3 = diabetes(df)
df3

              rsid chromosome   position genotype
52647     rs780094          2   27741237       CT
78491     rs560887          2  169763148       CC
117406  rs11708067          3  123065778       AG
244041   rs2191349          7   15064309       GT
353196  rs10885122         10  113042093       GG
370619   rs7944584         11   47336320       AA
378214  rs10830963         11   92708710       CG

In [60]:
df[df['rsid'] == 'rs14607517']

Empty DataFrame
Columns: [rsid, chromosome, position, genotype]
Index: []

### 17 rsid --> 13 rsid : 4 rsid not in the genetic test result

In [61]:
def diabetestotal(df):
    df = df[(df['rsid'] == 'rs560887') | 
            (df['rsid'] =='rs10830963') |
            (df['rsid'] == 'rs14607517')|
            (df['rsid'] == 'rs2191349') | 
            (df['rsid'] == 'rs780094') | 
            (df['rsid'] == 'rs11708067') | 
            (df['rsid'] == 'rs7944584') | 
            (df['rsid'] == 'rs10885122') | 
            (df['rsid'] == 'rs174550') |
            (df['rsid'] == 'rs11605924') |
            (df['rsid'] == 'rs11920090') |
            (df['rsid'] == 'rs7034200') |
            (df['rsid'] == 'rs340874') |
            (df['rsid'] == 'rs11071657') |
            (df['rsid'] == 'rs13266634') |
            (df['rsid'] == 'rs7903146') |
            (df['rsid'] == 'rs35767')]           
    return df

In [55]:
df4 = diabetestotal(df)
df4

              rsid chromosome   position genotype
38622     rs340874          1  214159256       TT
52647     rs780094          2   27741237       CT
78491     rs560887          2  169763148       CC
117406  rs11708067          3  123065778       AG
244041   rs2191349          7   15064309       GT
296738  rs13266634          8  118184783       CC
304963   rs7034200          9    4289050       AC
353196  rs10885122         10  113042093       GG
353549   rs7903146         10  114758349       CT
370407  rs11605924         11   45873091       AC
370619   rs7944584         11   47336320       AA
372277    rs174550         11   61571478       CT
378214  rs10830963         11   92708710       CG

In [56]:
df4.shape

(13, 4)

> write csv file

In [45]:
import csv

with open('newfile.csv', 'w', newline='') as csvfile:
    fieldnames = ['rsid', 'chromosome', 'position', 'genotype']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerow({'rsid': 'rs12564807','chromosome': '1','position': '734462','genotype': 'AA'})

In [47]:
df = pd.read_csv('newfile.csv')
df

         rsid  chromosome  position genotype
0  rs12564807           1    734462       AA